

html {
	font-family:Cursive;
	overflow-x: hidden;
  width: 100px;
  height: 100px;
  background-color: rgba(31,36,45,255);
	-webkit-user-select: none;
}
.bx1 {
	background: rgba(42,48,60,255);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.5px);
	width: 1500px;
	height: 700px;
	position: relative;
	left: 200px;
	top: 100px;
	color: white;
}

.bx2 {
	background: rgba(42,48,60,255);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.2px);
	width: 1500px;
	height: 75px;
	position: relative;
	left: 200px;
	top: 30px;
	color: white;
}

.b1 {
	text-decoration: none;
	color:#ffffff;
	position: relative;
	font-size: 27px;
	padding: 15px 5px;
	left: 30px;
	transition-duration: 0.4s;
	top: 18px;
	border-radius: 10px;
}

.b1:hover {
	border-radius: 10px;
	padding: 10px 5px;
	transition-duration: 0.4s;

	background-color: rgba(55,61,73,255);
}

.b2 {
	text-decoration: none;
	color:#ffffff;
	position: relative;
	font-size: 25px;
	padding: 15px 5px;
	left: 700px;
	transition-duration: 0.4s;
	top: 18px;
	border-radius: 10px;
}

.b2:hover {
	border-radius: 10px;
	padding: 10px 5px;
	transition-duration: 0.4s;

	background-color: rgba(55,61,73,255);
}

.b3 {
	text-decoration: none;
	color:#ffffff;
	position: relative;
	font-size: 25px;
	padding: 15px 5px;
	left: 730px;
	transition-duration: 0.4s;
	top: 18px;
	border-radius: 10px;
}

.b3:hover {
	border-radius: 10px;
	padding: 10px 5px;
	transition-duration: 0.4s;

	background-color: rgba(55,61,73,255);
}

.label {
	text-decoration: none;
	color:#ffffff;
	position: relative;
	font-size: 25px;
	padding: 10px 5px;
	left: 350px;
	transition-duration: 0.4s;
	top: 18px;
	border-radius: 10px;
	background-color: rgba(55,61,73,255);
}

.t1 {
	position: relative;
	left: 590px;
	top: 100px;
}

.ourserversimg {
	border-radius: 10px;
	transition-duration: 0.4s;
	color: #2a303c;
	width: 200px;
	height: 200px;
	position: relative;
	top: 80px;
	left: 300px;
}

.ourserversimg:hover {
	transition-duration: 0.4s;
	color: rgba(55,61,73,255);
}

.ourserverstext {
	border-radius: 10px;
	font-size: 20px;
	position: relative;
	top: 180px;
	left: 615px;
}

.ourservers:hover {
	transition-duration: 0.4s;
	color: rgba(55,61,73,255);
}

.ourserverstext {
	border-radius: 10px;
	font-size: 20px;
	position: relative;
	top: 120px;
	left: 115px;
}

.ourservers:hover {
	transition-duration: 0.4s;
	color: rgba(55,61,73,255);
}


.card {
	border-radius: 10px;
  max-width: 300px;
	min-height: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
	position: relative;
	top: 100px;
	left: -47px;
	background-color: rgba(55,61,73,255);
}

.card:hover {
	box-shadow: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
	decoration: none;
	text-decoration: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.btn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.btn:hover {
  box-shadow: 10px 5px 5px black;
	transition-duration: .2s;
}

.btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .btn {
    padding: .75rem 1.5rem;
  }
}
}

.t2 {
	position: relative;
	left: 450px;
	top: -43;
}
